.div-header {
  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.957);
    border-bottom: 1px solid #c2d11f1f;
    padding-bottom: 5px;
    height: 40px;
    box-shadow: 0 4px 0 0 rgba(6, 0, 0, 0.092);

    .nav-link {
      margin-left: 3px;
      font-family: "Segoe UI", Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      color: #e1dcdce0;
      position: relative;
      text-decoration: none;
    }
  }
  .oi-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background: rgba(9, 4, 1, 0.98);
    height: 800px;
    margin-left: 0px;
  }
  .hello {
    color: rgb(250, 235, 25);
    font-family: sans-serif;
    width: 720px;
    font-size: 10em;
    font-weight: 700;
    box-shadow: 1px 3px 0 0 rgba(163, 205, 12, 0.096);
  }
  .div-imagem {
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    box-shadow: 0 5px 1px 0 rgba(32, 109, 192, 0.179);
  }
}

.nav-link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #333;
}
.nav-link:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}
