.social-links {
  display: flex;
  justify-content: flex-start;
  background: rgba(0, 0, 0, 0.957);
  gap: 8px;
  border-top: 1px solid #c2d11f1f;
  padding-top: 5px;
  padding-bottom: 5px;
}

.social-links a {
  text-decoration: none;
  color: #e1dcdce5;
  background: rgba(0, 0, 0, 0.121);
  padding: 8px;
}

.social-links a:hover {
  color: rgb(229, 219, 86);
  transform: scale(1.5);
  transition: transform 0.4s ease;
}
